<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>