<div>
    <img src="" alt="User Name">
    <div>
        <h2>User Name</h2>
        <h3>Number of posts: x</h3>
    </div>    
</div>
<div>
    <p>Bio</br></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
</div>
</br>
<div>
    <div>
        <h3>Post #1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eiusmod tempor</p>
        <span>Comments: x</span>
        <span>Likes: y</span>        
    </div>    
</div>
<div>
    <div>
        <h3>Post #2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eiusmod tempor</p>
        <span>Comments: x</span>
        <span>Likes: y</span>        
    </div>    
</div>
<div>
    <div>
        <h3>Post #3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. eiusmod tempor</p>
        <span>Comments: x</span>
        <span>Likes: y</span>        
    </div>    
</div>
<h3>See all posts</h3>