* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 1rem;
}

.post {
  margin-top: 1rem;
}

.see-all-posts {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.counter {
  font-weight: 600;
}

.post-container {
  margin: 1rem;
}

.post-header {
  padding: 1rem;
}
